.superover {
  min-height: 100vh;
  background-color: #0d1729;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.superover .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.superover h1 {
  margin-bottom: 30px;
}